#back {
    background-color: darkblue;
    width: 400px;
    height: 30px;

    position: relative;
}

#front {
    background-color: chartreuse;
    height: 30px;

    position: absolute;
    top : 0;
}

.small {
    font-size: smaller;
}

.chartreuse {
    color : chartreuse;
}

.oblique {
    font-style: oblique;
}
