
<h2>Demo 3 - Les directives</h2>

<div class="chapter">
    <h3>Les components directives</h3>
    <div class="subchapter">
        <h4>ngStyle</h4>
        <p> j'inverse les couleurs' <span [ngStyle]="{color: favColor, backgroundColor : favColor2}">brillant</span></p>

        <button class="btn" (click)="invertColor(favColor,favColor2)">invert</button>
    
    </div>

    <div class="subchapter">
        <h4>ngClass</h4>
        <p [ngClass]="{small: isSmaller, chartreuse : isChartreuse, oblique : isOblique}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore ipsa illo maiores nam modi accusantium! Quasi commodi dolorum porro, distinctio explicabo eius voluptas at fuga deleniti iure! Fuga, voluptate dolorem!</p>
        <div>
            <button (click)="isSmaller = !isSmaller" class="btn">Petit format</button>

            <button (click)="isChartreuse = !isChartreuse" class="btn">Touche de goût ?</button>

            <button (click)="isOblique = !isOblique" class="btn">Texte en oblique</button>
        </div>
    </div>
</div>

<div class="chapter">
    <h3>Les structurals directives</h3>

    <div class="subchapter">
        <h4>ngIf</h4>

        <div *ngIf="isWarm ; else cold ">🔥</div>
        <ng-template #cold>
            <div>🧊</div>
        </ng-template>

        <button (click)="isWarm = !isWarm" class="btn">Chaud/Froid</button>
    </div>

    <div class="subchapter">
        <h4>ngFor</h4>
        <div class="flex justify-evenly items-center bg-slate-50 h-44">
            <div *ngFor="let book of HpList" class="bg-slate-200 h-5/6 w-1/5 rounded-lg flex flex-col items-center">

                <div>{{ book.name }}</div>
                <img class="h-4/6 w2/3" [src]="book.avatar" [alt]="book.name">
            </div>

        </div>
    </div>

    <div class="subchapter">
        <h4>ngSwitch</h4>
        <div [ngSwitch]="menu">
            <div *ngSwitchCase=" 'burger' "> Petit burger 🍔</div>
            <div *ngSwitchCase=" 'Pizza' "> Petite pizza 🍕 </div>
            <div *ngSwitchCase=" 'HotDog' "> Petit HotDog 🌭</div>
            <div *ngSwitchDefault>Choisissez votre menu du jour !</div>
        </div>
        <div>
            <button (click)="menu = 'burger' " class="btn">Hamburger</button>
            <button (click)="menu = 'Pizza' " class="btn">Pizza</button>
            <button (click)="menu = 'HotDog' " class="btn">HotDog</button>
        </div>
    </div>
</div>

<div class="chapter">
    <h3>Les attributes directives (Custom Directives)</h3>
    <div>
        <span highlight>click sur moi !</span> distinctio, aliquid soluta iste aut corpor
    </div>
</div>